/* Add CSS Styling */
.one, .two{
    font-size: 28px;
    font-family: Helvetica,"Times New Roman",sans-serif;
}

.one{
    color: #ffffff;
    background-color: black;
}

.two{
    background-color: yellow;
}