body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  padding: 10px 0 0 0;
  border: 1px solid white;
}

.title {
  background: #e3f4ff;
  padding: 16px;
  margin: 10px;
  font-size: 16px;
  
}

.content {
  background: #e3f4ff;
  padding: 16px;
  margin: 10px 10px;
  
}

.button-container {
  background: #e3f4ff;
  padding: 16px;
  margin: 10px;
  text-align: center;
}

button {
  background: white;
  border: 1px solid #eee;
  width: 150px;
  padding: 10px;
  margin: 0px auto;
  display: block;
}